#l1
{
    border:2px solid black;
    width: 40px;
    height: 40px;
    padding: 70px;
    float: left;
    position:relative;
    top: -15px;
    left: -10px;
    text-align: justify;
}
#l2
{
    border:2px solid black;
    width: 40px;
    height: 40px;
    padding: 70px;
    float: right;
    position:relative;
    top: -50px;
    left: 10px;
    text-align: justify;
}
#r1
{
    border:2px black;
    border:2px solid black;
    width: 40px;
    height: 40px;
    padding: 70px;
    float: left;
    position: relative;
    top:400px;
    left:-200px;
    text-align:justify;
}
#r2
{
    border:2px solid black;
    width: 40px;
    height: 40px;
    padding: 70px;
    float: left;
    position: relative;
    top:400px;
    left: 720px;
    text-align: justify;
}
#text
{
    position: relative;
    top: 240px;
}
